<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MVC Blog</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>

    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                {{#if logged_in}}
                    <a id="DashboardMenu" href="/dashboard">Dashboard</a>
                    <button class="" id="logout">Logout</button>
                {{else}}
                    <a id="DashboardMenu" href="/login">Dashboard</a>
                    <a id="loginMenu" href="/login">Login</a>
                {{/if}}
            </nav>
            <h1>The Tech Blog</h1>
        </header>

        <main>
            {{{ body }}} 
        </main>
 
        <footer class="mainFooter">
            <h3>Made with love</h3>
        </footer>

        {{#if logged_in}}
            <script src="/js/logout.js"></script>
        {{/if}}
    </body>
</html>