<div class="">
    <h2>Sing In</h2>
    <form class="signInForm">
        <label for="email-signin">email:</label>
        <input class="form-input" type="text" id="email-signin" />
        <label for="password-signin">password:</label>
        <input class="form-input" type="password" id="password-signin" />
        <button class="btn btn-primary" type="submit">login</button>
    </form>

    <h2>Sing Up</h2>
    <form class="signUpForm">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
        <button class="btn btn-primary" type="submit">login</button>
    </form>
</div>

<script src="./js/login.js"></script>
