{{! Show the inputs and a button to create a new post --}}

<div>
 <h3 id="dashboardUserName">Welcome {{name}}</h3>

  <form class="addNewPostForm" data-id="{{id}}"
    <label for="newPostTitle">New post tile:</label>
    <input class="newPostStyle" type="text" id="newPostTitle" />
    <label for="newPostContent">New post content:</label>
    {{!-- <input class="newPostStyle" type="text" id="newPostContent" /> --}}
    <textarea id= "textAreaPostContent" name="textAreaPostContent"
              placeholder="Type content here"></textarea>
    <button  type="submit" class="buttonStyle" name="newPost">Add Post</button>
  </form>
  
</div>

{{#if logged_in}}
    <script src="/js/newpost.js"></script>
{{/if}}