header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

/* .mainFooter {
  position: fixed;
} */

/* #logoutMenu {
  visibility: hidden;
} */

#homePagePostTitle {
  font-size: 24px;
  color: white;
  background-color: black;
  margin: 2px;
}

#homePagePostTitleLog {
  font-size: 24px;
  color: white;
  background-color: #04AA6D;
  margin: 2px;
}

#homePagePostContent {
  font-size: 20px;
  border-style: solid;
  margin: 4px;
}

#dashboardPostTitle {
  font-size: 24px;
  color: white;
  background-color: black;
  margin: 2px;
  margin-left: 24px;
}

#dashboardUserName {
  font-size: 24px;
  color: white;
  background-color:#04AA6D;
  margin: 2px;
}
.buttonStyle {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.commentStyle {
  font-size: 20px;
  border-style: solid;
  margin: 4px;

}

.postContentStyle {
  font-size: 24px;
  border-style: solid;
  margin: 4px;
  width: 800px;
  
}

.postUserDateStyle {
  font-size: 16px;
  margin: 8px;
  width: 800px;
  color: white;
  background-color: black;
  
}

.newPostStyle {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#textAreaPostContent {
  width: 98%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.form-input{
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

}